body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.cv-container {
  display: flex;
  max-width: 910px;
  margin: 20px auto;
  background: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.left-column {
  background: rgb(179, 158, 159);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  color: black;
  padding: 20px;
  text-align: center;
  width: 100%;
}
.left-container {
 max-width: 240px;
}

.left-column img {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  object-fit: cover;
}

/* .left-column h1 {
  font-size: 24px;
}

.left-column h2 {
  font-size: 38px;
  font-weight: normal;
} */

.left-column h3 {
  margin-top: 22px;
  color: rgb(51, 49, 50);
  background-color: white;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 78%;
  font-size: 1em;
  font-weight: 700;
  border-radius: 25px;
}

.left-column p,
.left-column ul {
  font-size: 12px;
  text-align: left;
  color: white;
}

.education{
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.education li {
  margin-bottom: 15px;
}

.desire li {
  margin-bottom: 15px;
}

.left-column a {
  color: white;
  font-size: 12px;
}

/* Right */
.right-column {
  padding: 20px;
  padding-left: 25px;
  padding-right: 25px;
  max-width: 580px;
}

.info{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.header {
  color: rgb(50, 44, 44);
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-items: center;
}

.name {
  color: #322c2c;
  font-size: 2.5em;
  font-weight: 700;
}

.job {
  color: #131313;
  font-size: 1.5em;
  font-weight: 100;
}

.about p{
  font-size: 12px;
  line-height: 1.5;
}
.title {
  color: rgb(50, 44, 44);
  font-size: 1em;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description {
  font-size: 15px;
  color: gray;
}
.right-column h3 {
  color: #333132;
  border-bottom: 2px solid #d9c2a3;
  padding-bottom: 5px;
  font-weight: 800;
}

.right-column ul {
  font-size: 12px;
}

.experience li {
  margin-bottom: 10px;
}

.projects li {
  margin-bottom: 10px;
}

.github-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}
.github p {
  max-width: 260px;
  font-size: 12px;
}

ul {
  padding-left: 20px;
}

a {
  color: #5c4936;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}